body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

#mug {
	width: 100%;
	margin-right: 5px;
}

#ulmenu {
	list-style: none;
	margin-left: -55px;
	margin-top: -12px;
}

	#ulmenu li {
		float: left;
	}


		#ulmenu li a {
			display: inline-block;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

.row {
	margin-top: 20px;
}
