/* CSS Written by Loren Anderson */
body {
	background:#fff;
    font-family: raleway,sans-serif;
}
          /* Specific DIV tags*/
     /* -------------------------------  */


#container {
	width:100%;
}

#content {
	background: #FFF;
}

#header ul {
    list-style: none;
    margin-left: -55px;
    margin-top:-12px
}

#header ul li {
    float: left;    
}


#header ul li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu {
    width: 200px;
    position: absolute;
    float: left;
    top: 150px;
    left: 150px;
    background: white;
    z-index: 10;
}

#footer
{
}

#footer p
{
    text-align:center;
    font-size:10px;
}



           /* Specific Fonts  */
     /* -------------------------------  */


#content h1, h2 {
	font-family: Georgia;
	text-align:center;
	font-size:25pt;
	color:#3d3d3d;
}


#menu li p a {
	font-size:10px;
	line-height:0px;
}

h3, h1, p {
  margin:5px;
}

p {
  margin:5px;
}

         /* Specific Declarations */
#menu ul {
	padding-left:10px;
	margin-left:0px;
	list-style: none;
}


#menu li {

	line-height:42px;
	font-family:"Arial";
	font-size:13px;
	color:#624125;
	font-weight:bold;
	letter-spacing:1px;
}

img {
	border:none;
}


                 /* Links */
     /* -------------------------------  */



a:link {
	text-decoration:none;
	font-weight:bold; 
	color:#333333;
	
}

a:visited {  
	text-decoration: none;
	font-weight:bold; 
	color:#333333;
	
}

a:hover, a:active { 
	text-decoration: underline; 
	font-weight:bold; 
	color: #93380b;
}