/* CSS Written by Loren Anderson */
body {
    background: #000;
    font-family: raleway,sans-serif;
    color: white;
}
/* Specific DIV tags*/
/* -------------------------------  */


#container {
    width: 100%;
}

#content {
}

#header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: #000000;
}

    #header ul {
        list-style: none;
        margin-left: -55px;
        margin-top: -12px;
    }

        #header ul li {
            float: left;
        }


            #header ul li a {
                display: inline-block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }



#footer p {
    text-align: center;
    font-size: 10px;
}



/* Specific Fonts  */
/* -------------------------------  */


#content h1, h2 {
    font-family: Georgia;
    font-size: 25pt;
    color: #e5e5e5;
}



h3, h1, p {
    margin: 5px;
}

p {
    margin: 5px;
}


img {
    border: none;
}


/* Links */
/* -------------------------------  */



a:link {
    text-decoration: none;
    font-weight: bold;
    color: #e5e5e5;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #e5e5e5;
}

a:hover, a:active {
    text-decoration: underline;
    font-weight: bold;
    color: #fff;
}

#bio iframe {
    border: none;
    overflow: hidden;
    width: 420px;
    height: 315px;
}

#bio #mug {
    float: left;
    width: 400px;
    margin-right: 5px;
}


/* Small Tablet Landscape (smaller than 800px) */
@media only screen and (max-width: 800px) {
    .container {
        width: 700px;
    }


    #faq, #past-searches, #current-searches {
        padding: 100px 0 0 0;
    }

    .content {
        width: 498px;
        height: auto;
        color: #e5e5e5;
        padding: 0;
        position: static;
        top: 0;
    }

    .content {
        width: auto;
        padding: 60px 40px;
    }

    #values-list li {
        width: 100%;
        padding: 0;
    }

    #nav-mobile li {
        margin: 0 12px;
    }
}

/* Mobile Landscape (smaller than 480px) */
@media only screen and (max-width: 480px) {
    #header {
        height: 85px;
    }

    #bio {
        overflow: hidden;
    }

    #bio #mug, #bio iframe {
        width: 100%;
    }

    #ytplayer {
        width: 100%;
    }

    #content {
        margin-top: 85px;
    }

    #instagram {
        float: none;
    }
}
