<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.5"/>
    <machineKey validationKey="A4F8AB8509D10DCB054A00765336773E4099F35B13FB6335B3ACDC68BAD5844B7F592ED3B4EEDBEFB2AF22B0D500C270A92E055BF05B27954C956FBD7FEEC4BD" decryptionKey="9973C0F01594AFA68056EAC06061A8AA339847D9ACB4DB8219122FE156B7A7D2" validation="SHA1" decryption="AES"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="Version" value="1.096"/>
  </appSettings>
  <connectionStrings>
    <add name="Personal" connectionString="Data Source=landerson.db.2610820.hostedresource.com; Initial Catalog=landerson; User ID=landerson; Password=gol13!Pass; Trusted_Connection=False"/>
  </connectionStrings>
</configuration>