@{
	ViewBag.Title = "LorenAnderson.com";
}
<div class="row section" id="home">
	<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0; left: 0px; width: 2160px; height: 1200px; visibility: hidden; background-color: #24262e;">
		<!-- Loading Screen -->
		<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
			<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
			<div style="position: absolute; display: block; background: url('../../Content/img/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
		</div>
		<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 2160px; height: 1200px; overflow: hidden;">
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-1.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-2.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-3.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-4.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-5.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-6.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-7.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-8.jpg" />
			</div>
			<div data-p="144.50" style="display: none;">
				<img data-u="image" src="../../Content/img/img-9.jpg" />
			</div>
		</div>
		<!-- Bullet Navigator -->
		<div data-u="navigator" class="jssorb05" style="top: 50px; right: 16px;" data-autocenter="1">
			<!-- bullet navigator item prototype -->
			<div data-u="prototype" style="width: 32px; height: 32px;"></div>
		</div>
		<!-- Arrow Navigator -->
		<span data-u="arrowleft" class="jssora05l" style="top: 158px; left: 8px; width: 40px; height: 40px;"></span>
		<span data-u="arrowright" class="jssora05r" style="top: 158px; right: 8px; width: 40px; height: 40px;"></span>

	</div>
</div>
<div id="bio" class="row section">
	<div class="col-xs-12">
		<h2>About Me</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<img src="../../Content/img/mug.jpg" id="mug" alt="Mug Shot" />
	</div>
	<div class="col-md-7">
		<p>
			I am a full time software engineer and part time aerial photographer. For more details on my professional career please visit my <a href="https://www.linkedin.com/in/loren-anderson-85953a13">LinkedIn</a> account.
		</p>
		<br />
		<p>I have a strong passion for flying quadcopters and capturing photos at angles that we've never imagined before.</p>
		<ul>
			<li>Real Estate</li>
			<li>Sports</li>
			<li>Auto</li>
			<li>Survey</li>
			<li>Landscape</li>
			<li>Automotive</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h2 style="display:inline">Youtube video portfolio.</h2><a href="https://www.youtube.com/channel/UClXuXxiIVDGRuFggFSW6yGw">Subscribe</a>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MS4SjcuhyrI"></iframe>
		</div>

	</div>
	<div class="col-md-6">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/am57l3qwVoc"></iframe>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2 style="display:inline">Instagram </h2><a href="https://www.instagram.com/lorenanderson.photography/">Follow me</a>!
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b095352c32da5c5ba28c0854939e883b.html" id="lightwidget_b095352c32" name="lightwidget_b095352c32" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
	</div>
</div>
